<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-address-heading" jhiTranslate="toubibRdvWebApp.address.home.createOrEditLabel">Create or edit a Address</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.address.nomRue" for="field_nomRue">Nom Rue</label>
                    <input type="text" class="form-control" name="nomRue" id="field_nomRue"
                           formControlName="nomRue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.address.ville" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.address.commun" for="field_commun">Commun</label>
                    <input type="text" class="form-control" name="commun" id="field_commun"
                           formControlName="commun"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.address.codePostal" for="field_codePostal">Code Postal</label>
                    <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                           formControlName="codePostal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.address.willaya" for="field_willaya">Willaya</label>
                    <input type="text" class="form-control" name="willaya" id="field_willaya"
                           formControlName="willaya"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.address.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" formControlName="personId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackById">{{ personOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
