<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appointment">
            <h2><span jhiTranslate="toubibRdvWebApp.appointment.detail.title">Appointment</span> </h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <!--<dt><span jhiTranslate="toubibRdvWebApp.appointment.motif">Motif</span></dt>
                <dd>
                    <span>{{ appointment.motif }}</span>
                </dd>-->
                


                
                <dt><span *ngIf="appointment.docteur">Adresse</span></dt>
                <dd>
                    <span *ngIf="appointment.docteur && appointment.docteur.addresses">
                        {{ appointment.docteur.addresses[0].nomRue }},
                        {{ appointment.docteur.addresses[0].ville }},
                        {{ appointment.docteur.addresses[0].codePostal }}
                </dd>
                <dt><span jhiTranslate="toubibRdvWebApp.appointment.dateRdv">Date Rdv</span></dt>
                <dd>
                    <span>{{ appointment.dateRdv | date:'dd/MM/yyyy à HH:mm ':'+0000':'fr'}}</span>
                </dd>
                <dt><span *ngIf=" appointment.patient" jhiTranslate="toubibRdvWebApp.appointment.person">Person</span></dt>
                <dd>
                    <div *ngIf=" appointment.patient">
                        <a [routerLink]="['/person', appointment.personId, 'view']">{{ appointment.patient.nom }} {{ appointment.patient.prenom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="toubibRdvWebApp.appointment.docteur">Docteur</span></dt>
                <dd>
                    <div *ngIf="appointment.docteur">
                        <a [routerLink]="['/person', appointment.docteurId, 'view']">{{ appointment.docteur.nom }} {{ appointment.docteur.prenom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_DOCTEUR'" type="button"
                    [routerLink]="['/appointment', appointment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
