<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-appointment-heading" jhiTranslate="toubibRdvWebApp.appointment.home.createOrEditLabel">Create or edit a Appointment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div style="display: none;" class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.appointment.motif" for="field_motif">Motif</label>
                    <input type="text" class="form-control" name="motif" id="field_motif"
                           formControlName="motif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.appointment.dateRdv" for="field_dateRdv">Date Rdv</label>
                    <div class="input-group">
                        <input id="field_dateRdv" type="text" class="form-control" name="dateRdv" ngbDatepicker #dateRdvDp="ngbDatepicker" formControlName="dateRdv"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateRdvDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.appointment.person" for="field_person">Person</label>
                    <input readonly type="text" class="form-control" name="patient" id="field_patient"
                           formControlName="patient"/>
                </div>

                <div style="display: none;" class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.appointment.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" formControlName="personId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackById">{{ personOption.id }}</option>
                    </select>
                </div>

                <div style="display: none;" class="form-group">
                    <label class="form-control-label" jhiTranslate="toubibRdvWebApp.appointment.docteur" for="field_docteur">Docteur</label>
                    <select class="form-control" id="field_docteur" name="docteur" formControlName="docteurId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackById">{{ personOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
