<div>
    <h2 id="page-heading">
        <span jhiTranslate="toubibRdvWebApp.appointment.home.title">Appointments</span>

        <button *jhiHasAnyAuthority="'ROLE_DOCTEUR'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-appointment" [routerLink]="['/appointment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="toubibRdvWebApp.appointment.home.createLabel">
            Create a new Appointment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="appointments?.length === 0">
        <span jhiTranslate="toubibRdvWebApp.appointment.home.notFound">No appointments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="appointments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                   <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>--> 
                    <!--<th scope="col"  jhiSortBy="motif"><span jhiTranslate="toubibRdvWebApp.appointment.motif">Motif</span> <fa-icon icon="sort"></fa-icon></th>-->
                    
                    <th scope="col"><span >Docteur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span >Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span >Specialiste</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  ><span jhiTranslate="toubibRdvWebApp.appointment.dateRdv">Date Rdv</span> <fa-icon icon="sort"></fa-icon></th>

                    <!--<th *ngIf="account.person.docteurOrPatient == 'DOCTEUR'" scope="col"  jhiSortBy="personId"><span jhiTranslaete="toubibRdvWebApp.appointment.person">Person</span> <fa-icon icon="sort"></fa-icon></th>
                    <th *ngIf="account.person.docteurOrPatient == 'PATIENT'" scope="col"  jhiSortBy="docteurId"><span jhiTranslate="toubibRdvWebApp.appointment.docteur">Docteur</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th *jhiHasAnyAuthority="'ROLE_DOCTEUR'" scope="col"  jhiSortBy="docteurId"><span >Etat</span> <fa-icon icon="sort"></fa-icon></th>
                   
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments ;trackBy: trackId">
                    <!--<td><a [routerLink]="['/appointment', appointment.id, 'view']">{{ appointment.id }}</a></td>--> 
                    <!--<td>{{ appointment.motif }}</td>-->
                    <td  *ngIf="appointment.docteur != null">{{ appointment.docteur.nom }} {{ appointment.docteur.prenom }} </td>
                    <td  *ngIf="appointment.docteur != null">{{ appointment.docteur.addresses[0].ville }}</td>
                    <td  *ngIf="appointment.docteur != null">{{ appointment.docteur.specialties[0].libelle }} </td>
                    <td>{{ appointment.dateRdv | date:'dd/MM/yyyy à HH:mm ':'+0000':'fr'}}</td>
                    <ng-container *jhiHasAnyAuthority="'ROLE_DOCTEUR'">
                    <td  *ngIf="appointment.person != null">Occupé </td>
                    <td  *ngIf="appointment.person == null">Libre </td>
                </ng-container>
                   <!--<td *ngIf="account.person.docteurOrPatient == 'DOCTEUR'">
                        <div *ngIf="appointment.personId">
                            <a [routerLink]="['/person', appointment.personId , 'view']" >{{ appointment.patient }}</a>
                        </div>
                    </td>
                    <td *ngIf="account.person.docteurOrPatient == 'PATIENT'">
                        <div *ngIf="appointment.docteurId">
                            <a [routerLink]="['/person', appointment.docteurId , 'view']" >{{ appointment.docteur }}</a>
                        </div>
                    </td>--> 
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/appointment', appointment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_DOCTEUR'" type="submit"
                                    [routerLink]="['/appointment', appointment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_DOCTEUR'" type="submit" (click)="delete(appointment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_PATIENT'" (click)="annulerRdv(appointment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" >Annuler</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="appointments?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
